<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="">
</head>
<body>
    <div class="content">
		{% block indextitle %}<div class="page-header">
		  <h1>{% block title %} {{ self.windowtitle() }} {% endblock %}</h1>
		</div>{% endblock %}
		{% block content %}{% endblock %}
    </div>
</body>
</html>